body{
        font-family: 'Open Sans', sans-serif;
      

}
.one-word{
       width:30%;
       margin:0 auto;
       margin-top:15%;
       margin-left:40%;
}
.one-word h1 {
     font-size:50px;
     color:#fff;
}

/* finished */

/* three-portion starts */

.three-portion {
        width:100%;
        text-align: center;;
        padding-top:30px;
}
.three-portion .center-portion {
              width:80%;
              margin:0 auto;
}
.center-portion .first-portion {
               width:30%;
               float:left;
               margin-left:30px;
               padding-bottom:30px;
               
}
.first-portion img{
        width:100%;
}
.first-portion p {
           font-size:12px;
}
.first-portion button {
    margin-top:30px;
    border-radius:100px;
    padding:20px;
    border:0;
    background-color: #6c9994;
    color:#fff;
}
/* three-portion finished */

/* footer starts */

.footer {
         width:100%;
}

.main {
        width:30%;
        float:left;
}
.main .fa {
         padding:20px;
         color:gray;
         border:1px solid gray;
         border-radius:50px;
         margin-left:20px;
}
.second-main {
          width:30%;
          float:left;
          color:gray;
          text-align: center;
          margin-left:70px;
}
.second-main ul {
        list-style:none;
        
}
.second-main ul li {
        float:left;
        padding:8px;
}
.second-small-box {
          clear:both;
          width:50%;
          position:relative;
          top:50px;
          left:90px;
          text-align:center;
          font-size:12px;
          color:gray;
}

.third-main {
           width:25%;
           float:right;
           color:lightslategray;
           

}
.third-main form input {
                  padding:10px;
}
.third-main button {
              padding:7px;
              background-color: gray;
              border:0;
              color:#fff;
}
/* footer finished */